body{
    background: rgb(17, 143, 251);
    margin:30px;
    width: auto;
    height:auto;
}
.ninja{
    color:darkcyan;
    font-family: cursive;
    font-size: x-large;
}

.nav ul{
    text-align: center;
    list-style: none;
    font-family: cursive;
    
}
.nav li{
    display: inline;
    margin-left: 80px;
    font-size:1.5em;
    text-align: center;
}
.nav  li a:hover{
    color:yellow;
    font-family: cursive;
    font-style: italic;

}
section{
    width:900px;
    height: 600px;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 30px 30px 30px 160px;
    padding: 20px 30px 30px 30px;
    box-shadow: 2px 2px 19px 3px rgba(237,228,237,1);
}
.uno .entry p{
   font-family: cursive;
   color: darkcyan;
   position: relative; 
   top:10px;
   margin-right: 10px;
   margin-left: 300px;
   text-align: center;
   height: 50%;
   text-indent: 10pt;
   z-index: 0;
   
}
.uno .entry .me{
    float:left;
    margin-left: 10px;
    z-index: 1;
    border-radius: 3px;
}
.uno .entry .pig{
    position:relative;
    bottom:-60px;
    float: right;
    margin-right: 10px;
    border-radius:3px;
    
}
    
.uno .entry a.link{
    position:relative;
    float:left;
    bottom:-245px;
    margin-left:-245px;
    color:grey;
    font-family: cursive;
}
.uno a.link:hover{
    background-color: lavender;
    border-radius:4px;
    color: #60c4f5;
    font-family: cursive;
    font-style: italic;
}
.duo h2{
    text-align: center;
    font-family: cursive;
    color:darkcyan;

}
.duo a.link{
    position:relative;
    float:left;
    bottom:-10px;
    margin-left: 10px;
    color:grey;
    font-family: cursive;
}
.duo a.link:hover{
    background-color: lavender;
    border-radius:4px;
    color: #60c4f5;
    font-family: cursive;
    font-style: italic;
}
.duo p{
    font-weight: bold;
    font-family: cursive;
    color: darkcyan;
    line-height: 2em;
    text-align: justify;
    text-indent:10px;
}

.trio h2{
    text-align: center;
    font-family: cursive;
    color:darkcyan;
}

.trio p{
    text-indent: 10pt;
    font-family: cursive;
    color:darkcyan;
}

.trio a.link{
    position:relative;
    float:left;
    bottom:-450px;
    margin-left: 10px;
    color:grey;
    font-family: cursive;
}
.trio a.link:hover{
    background-color: lavender;
    border-radius:4px;
    color: #60c4f5;
    font-family: cursive;
    font-style: italic;
}

.last{
    width: 900px;
    height: 600px;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 30px 30px 30px 160px;
    padding: 30px 30px 30px 30px;
    box-shadow: 2px 2px 19px 3px rgba(237,228,237,1);
}
.last .dane {
    float: right;
    margin-right: 30px;
    position: relative;
    top: 0px;
}

.last input[type=email]{
    width:300px;
    height: 20px;
    border-radius: 4px;
    margin-bottom: 5px;
;
}
.last input[type=text]{
    width: 300px;
    height: 20px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.dane button[type=submit]{
    color:#60c4f5;
    font-family:cursive;
    font-size: larger;
    text-align: center;
    border-radius: 4px;
    width: 300px;
    height: 40px;
    background:rgb(17, 143, 251);
}
.dane button[type=submit]:hover{
    background: yellow;
    color:black;
    font-family: "Arial Black", "Tahoma", "Times New Roman";
    font-size: x-large;
}
.last .text p{
    font-family: cursive;
    color: fuchsia;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    position: relative;
    top:60px;
    left:300px;
    width:300px;
}
.last .box textarea{
    resize:none;
    padding: 5px;
    border-radius: 4px;
    margin-left:40px;
    width: 400px;
    height: 100px;
    font-family: cursive;
    font-size: 25px;
    position: relative;
    top:110px;
}
.last .tel p{
    position:relative;
    margin-left: 350px;
    top:100px;
    text-align: center;
    font-family: cursive;
    color:#60c4f5;
    margin-top: 130px;
    width: 220px;
    height: 50px;
}
.last a.link {
    position: relative;
    float: left;
    bottom: -160px;
    margin-left: 10px;
    color: grey;
    font-family: cursive;
}

.last a.link:hover{
    background-color: lavender;
    border-radius:4px;
    color: #60c4f5;
    font-family: cursive;
    font-style: italic;
}